#navigationBar{
	text-align: left;
	display: block;
	
}


#monthTitleBar{
	display: block;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: navy;
	text-align: center;
}

a:visited {
	
	text-decoration: none;
	
	color: orange;

}

.week {
	display: -webkit-box;
	display: flex;
}
 
.day {
	-webkit-box-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}
 
.week:first-of-type .day:first-of-type {
	margin-left: 42.85714%;
}
 
.week:last-of-type .day:last-of-type {
	margin-right: 14.285%;
}
 
/* OTHER STYLES */
html, body {
	height: 100%;
}
 
body {
	background-color: blue;
	background-image: linear-gradient(62deg, #87ceeb 0%, #87ceeb 100%);
	background-attachment: fixed;
}
 
.month {
	max-width: 1120px;
	margin: 20px auto;
	border-style: ridged; /*outset, inset, solid, dotted, etc.*/
	border-width: 7px;
}
 
.week {
	height: 160px;
}
 
.day {
	position: relative;
	color: grey;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: -1px -1px white,  inset -1px -1px 0 0 white;
	text-align: center;
	text-decoration: underline;
}

.event {
	position: absolute;
	bottom: 50%;
	left: 0;
}

.date {
	text-align: center;
	
}

