/*  CSS Page For photoGallery.html  */

.gallery {
  display: flex;
  flex-wrap: wrap;
}

#gallery {
	line-height:0;
	-webkit-column-count:5;  /*  split it into 5 columns  */
	-webkit-column-gap:5px;  /*  give it a 5px gap between columns  */
	-moz-column-count:5;
	column-count:5;
	column-gap:5px;
}

#gallery img {
	width: 100% !important;
	height: auto !important;
	margin-bottom:5px; /*  to match column gap  */	
}

/*  ---------------------------------------------------------  */

/*  resizing the photo columns for various mobile devices. Sizes are listed above
	code snippets in comment sections  */

/* 1200px screen */
@media (max-width: 1200px) {
	#gallery {
		-moz-column-count:4;
		-webkit-column-count:4;
		column-count:4;
	}
}
/* 1000px screen */
@media (max-width: 1000px) {
	#gallery{
		-moz-column-count:3;
		-webkit-column-count:3;
		column-count:3;
	}
}
/* 800px screen */
@media (max-width: 800px) {
	#gallery{
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
	}
}
/* 400px screen */
@media (max-width: 400px) {
	#gallery{
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
	}
}
